body{
    
    
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Chewy', cursive;
    background-color:black;
}

.header{
    color:#05c46b;
    text-align: center;
    
}

#container{
    widows:1000px;
    height:550px;
    background-image:linear-gradient(30deg,#05c46b,#3c40c6);
    margin:20px auto;
    
}
#caculator{
    width:320px;
    height: 520px;
    background-color:#f7f1e3;
    margin:0 auto;
    top:20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /* 위에가 그림자 속성이야 */
}
/* result 와 keyboard에 나온 높이는 전체 container높이와 일치하고 결과값창을 따로 높이를 지정 */
#result{

    height: 120px;

}
#history{
    text-align: right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    font-size:15px;
    color:#84817a;
}
#output{
    text-align: right;
    height:60px;
    margin:10px 20px;
    font-size: 30px;
}
#keyboard{
    height:400px;
}

.operator,.number,.empty{
    width:50px;
    height:50px;
    margin:15px;
    float:left;
    border-radius:50%;
    border-width:0;
    font-weight: bold;
    font-size: 15px;
}

.number,.empty{
    background-color:#f7f1e3;
}

.number,.operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size:13px;
}
.operator:focus,.number:focus,.empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size:20px;
    background-color: #ffb142;
}
button:nth-child(8){
    font-size:20px;
    background-color:#ff5252;
}
button:nth-child(12){
    font-size:20px;
    background-color:#706fd3;
}
button:nth-child(16){
    font-size:20px;
    background-color:#218c74;
}
button:nth-child(20){
    font-size:20px;
    background-color:#34ace0;
}

#footer{
    color:white;
    margin-bottom:10px;
    text-align: center;
}
#footer>span:nth-child(1){
    color:#4285f4;
}
#footer>span:nth-child(2){
    color:#ea4335;
}
#footer>span:nth-child(3){
    color:#fbbc05
}
#footer>span:nth-child(4){
    color:#4285f4;
}
#footer>span:nth-child(5){
    color:#34a853;
}
#footer>span:nth-child(6){
    color:#ea4335;
}
#footer>span.name{
    color:#05c46b;
}

#footer>span.name:hover{
    color:#34ace0;
}
#footer>p.address{
    font-family: 'Do Hyeon', sans-serif;
}